
/* 输入控件的样式 */

.json-basic-element	/* 输入控件外层容器样式 */
{
	padding:5px;
}
label.json-field-label	/* 输入控件左侧label样式 */
{
	display:inline-block;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#666;
}
.json-Object {
	margin-bottom:5px;
}
.json-Object legend	/* fieldset legend */
{
	font-weight:bold;
	font-size:14px;
	color:#666;
	padding-bottom:10px;
}
.json-basic-element input[readonly]	/* 只读输入框的样式 */
{
	border:none;
}
textarea.json-field-input	/* 文本区域的样式 */
{
	width:100%;
	margin-top:5px;
}
.json-Boolean label		/* 布尔类型控件左侧label样式 */
{
	display:inline-block;
}
.json-field-input label
{
	margin-right:5px;
}
input.json-form-dirty	/* 被修改过值的输入框的样式 */
{
	border-right:3px solid green;
}
span.json-form-required	/* 必填提示容器span的样式 */
{
	color:red;
	padding-left:4px;
}

/* 字段组合容器样式 */

fieldset.json-Object	/* fieldset的样式，该fieldset是一个Object的编辑容器 */
{
	/* border:1px solid #000; */
}

/* 数组表格样式 */

table.json-Array	/* 数组表格的样式 */
{
	/*border:1px solid #c0c0c0;
	border-collapse:collapse;*/
	width:100%;
}
table.json-Array caption	/* 数组表格标题caption的样式 */
{
	text-align:left;
	padding:5px;
	font-size:16px;
    color: #666;
}
table.json-Array th	/* 数组表格表头的样式 */
{
	padding:5px;
	text-align:center;
}
table.json-Array td.json-form-rowNumber	/* 数组表格序号列单元格的样式 */
{
	text-align:center;
	vertical-align:middle;
}
table.json-Array td.json-form-actionCell	/* 数组表格操作列单元格的样式 */
{
	text-align:center;
	vertical-align:middle;
}
table.json-Array td	/* 数组表格单元格的样式 */
{
	text-align:center;
}
table.json-Array td .form-group	/* 数组表格表头的样式 */
{
	margin-bottom : 0;
}
table.json-Array a.json-form-action	/* 数组表格操作列单元格下删除链接的样式 */
{
	text-decoration:none;
}

label.json-form-collapser input{
}

label.json-form-collapser:before{
}

th.json-form-required :before{
    content: "*";
    color: red;
}
label.json-form-un-checked{
    position: relative;
}

/*展开的状态*/
label.json-form-ctrl-un-collapse{
    padding-left: 20px;
    background: url("http://img.china.alibaba.com/cms/upload/2014/463/430/2034364_785834663.jpg") no-repeat left center;
}
/*折叠的状态*/
label.json-form-ctrl-collapse{
    padding-left: 20px;
    background: url("http://img.china.alibaba.com/cms/upload/2014/453/430/2034354_785834663.jpg") no-repeat 3px center;
}