
/* 输入控件的样式 */

.json_basic_element	/* 输入控件外层容器样式 */
{
	padding:5px;
}
label.json_field_label	/* 输入控件左侧label样式 */
{
	display:inline-block;
	width:100px;
	font-size:15px;
}
.json_basic_element input[readonly]	/* 只读输入框的样式 */
{
	border:none;
}
textarea.json_field_input	/* 文本区域的样式 */
{
	width:100%;
	margin-top:5px;
}
.json_Boolean label		/* 布尔类型控件左侧label样式 */
{
	display:inline-block!important;
}
input.json_form_dirty	/* 被修改过值的输入框的样式 */
{
	border-right:3px solid green;
}
span.json_form_required	/* 必填提示容器span的样式 */
{
	color:red;
	padding-left:4px;
}

/* 字段组合容器样式 */

fieldset.json_Object	/* fieldset的样式，该fieldset是一个Object的编辑容器 */
{
	margin-top:3px;
	margin-bottom:5px;
	padding:8px;
	border:1px solid #000;
}

/* 数组表格样式 */

table.json_Array	/* 数组表格的样式 */
{
	border:1px solid gray;
	border-collapse:collapse;
	margin-top:5px;
	width:100%;
}
table.json_Array caption	/* 数组表格标题caption的样式 */
{
	text-align:left;
	padding:5px;
}
table.json_Array th	/* 数组表格表头的样式 */
{
	padding:5px;
	/*font-weight:normal;*/
}
td.json_form_rowNumber	/* 数组表格序号列单元格的样式 */
{
	text-align:center;
}
table.json_Array td.json_form_actionCell	/* 数组表格操作列单元格的样式 */
{
	text-align:center;
}
table.json_Array td	/* 数组表格单元格的样式 */
{
	text-align:center;
}
table.json_Array a.json_form_action	/* 数组表格操作列单元格下删除链接的样式 */
{
	text-decoration:none;
}
